@import "config";

.hide-scroll {
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

#app {
  .rccs {
    cursor: pointer;
  }
  .rccs__card--front,
  .rccs__card--back {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
  }
  .rccs__card--unknown > div {
    background: $darken !important;
    .rccs__card--front,
    .rccs__card--back {
      background: $darken !important;
    }
  }
  .bank-card {
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    height: 142px;
    &.kbz {
      &:hover:before {
        background-color: #193c82;
      }
    }
    &.cb {
      &:hover:before {
        background-color: #fdb941;
      }
    }
    &.yoma {
      &:hover:before {
        background-color: #f34425;
      }
      //background-color: #f34425 #ee4435;
    }
    &.aya {
      &:hover:before {
        background-color: #ab2d15;
      }
    }
    &.agd {
      &:hover:before {
        background-color: #5ec14f;
      }
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: $clear;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.5s ease-out;
    }
    &:hover {
      &:before {
        background: #00b6ff;
        transform: scale(25);
      }
      p {
        transition: all 0.5s ease-out;
        color: rgba(255, 255, 255, 0.8);
      }
      h3 {
        transition: all 0.5s ease-out;
        color: #ffffff;
      }
    }
  }

  .main {
    width: calc(100%-250px);
    margin: 0 0 0 250px !important;
    padding-top: 50px;
    position: relative;
    @media #{$sm} {
      margin-left: 0 !important;
      width: 100%;
    }
  }
}

.dark {
  header {
    background-color: #333335 !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    .font-logo {
      color: whitesmoke;
    }
  }
  .setting-root {
    .border-gray-400 {
      border-color: #333335 !important;
    }
    .hover\:bg-gray-200 {
      &:hover {
        background-color: rgba(0, 0, 0, 0.18) !important;
      }
    }
  }
}
.drak-drawer {
  .font-logo {
    color: whitesmoke;
  }
  li.cursor-pointer {
    color: whitesmoke !important;
    &.bg-primary-200 {
      background-color: #6690ff !important;
    }
    &.bg-gray-300 {
      background-color: #3d464d !important;
    }
    &:hover {
      background-color: #333335;
    }
  }
}
